.label > .material-icons.md-66 {
    font-size: 60px;
    position: relative;
    top: 1vh;
    margin-right: 10px;
    fill: #fff;
}
.page-header {
    background-color: var(--HiPerksBlauw);
    padding: 0vh 0vh 0.5vh 0vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.filter-wrapper {
    justify-content: space-between;
    padding-top: 1vh;
}




.page-header {
    padding: 0vh 0vh 0.5vh 0vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.page-header > .material-icons.md-48, .page-header > .material-icons.md-66 {
    margin-top:0.5vh;
    margin-right: 1vh;
    margin-left: 1vh;
    height: fit-content;
    color: white;
}

.body-container {
    height: 60vh;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-radius: 5px 5px 0 0;
}

.body-wrapper {
    padding-bottom: 10vh;
    margin-right: 3.5vh;
    margin-left: 3.5vh;
    top: 0.4vh;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

.page-header h1 {
    position: absolute;
    z-index: 1;
    top: 2vh;
    font-size: 26px;
    padding-right: 4vh;
}

.page-header a {
    margin-top: 1vh;
    margin-left: 1vh;
    left: 0;
    width: 100vw;
}

/* ADD SPACING TO LEFT OF BACK BUTTON */
.page-header > .material-icons.md-48 {
    margin-left: 3.5vw;
}

.filter {
    cursor: pointer;
    
    
}

.filter-wrapper {
    justify-content: space-between;
    
    
}

.filter-wrapper > div {
    font-size: 14px;
    width: fit-content;
    font-weight: 700;
    color: white;

    padding: 0.7vh 1vh 0.7vh 1vh;
    border-radius: 0.5vh;
    background-color: var(--HiPerksOranje);
}


/* SPACING FIX */
.department-title {
    margin-left: 0;
}
.label-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    padding-right: 2vh;
}

.label.functie.description > .label-content > p, .label.functie.description > .label-content > h2 {
    width: 100%;
}

.label.functie.description > .label-content > h2 {
    font-size: 20px;
}
.hiperks-icon{
    width: 50px;
    height: 50px;
    margin-right: 1vh;
    align-self: center;
}
.hiperks-icon-beperkingen{
    width: 50px;
    height: 50px;
    margin-right: 2vh;
    align-self: center;
}
.label-description {
    padding: 1vh;
    font-size: 14px;
    background-color: #E7E7E7;
    margin-top: 8vh;
}
.label-description1 {
    padding: 1vh;
    font-size: 14px;
    background-color: #E7E7E7;
    padding-top: 2vh;
}

.material-icons md-6{
    font-size: 60px;
}
h2{
    font-size: 20px;
    padding-bottom: 1vh;
    text-align: center;
}
.fa{
    font-size: 2em;
    color:#fff;
    cursor: pointer;
    transition:0.3s;
}
.label.Lichaamelijk{
    background-color: #E7E7E7;

}
.label.Lichaamelijk p{
    color: black;
    
}
.label.Lichaamelijk h2{
    color: black;
    
}
.fa{
    color: var(--HiPerksBlauw);
}
.label-content-beperkingen1{
    padding-top: 2vh;
}


#password-visibility {
    right: 1vh;
    position: absolute;
}

.username-field {
    display: block;
    width: 98%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.textarea{
    width: 98%;
    height: 12vh;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.button-member {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--HiPerksOranje);
    padding: 14px 28px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 0.5vh;
    margin-top: 2vh;
  }

.selectGenre{
    width: 100%;
    text-align: center;
    padding: 5px;
    border: 1px;
    /* border-color: red; */
    border-bottom-style: hidden;
}
.Gameverzoek{
    padding-top: 2vh;
    font-weight: bold;
}
.Gameverzoektitel{
    padding-bottom: 2vh;
    font-weight: bold;
}
.Gameverzoekinfo{
    padding-bottom: 1vh;
}
.Gamer-tag{
    padding-top: 2vh;
    font-weight: bold; 
    padding-bottom: 1vh;
}
[type=radio] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    opacity: 0;
  }
  
  [type=radio]+img {
    cursor: pointer;
    width: 55px;
    height: 55px;
  }
  
  [type=radio]:checked + img {
    width: 55px;
    height: 55px;
  }
  /* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  @media only screen and (max-width: 600px){
    .textarea{
        width: 90%;
    }
  }

@media screen and (max-width: 480px) {
    h2 {
        font-size: 15px;
        margin-bottom: 1vh;
    }
    p{
        font-size: 13px;
        margin-right: 11px;
        font-weight: 100;
    }
    .profile-header{
        font-size: 40px;
        align-self: center;
    }
    .HiPerks-wrapper, .HiPerks-wrapper1, .HiPerks-wrapper2, .HiPerks-wrapper3, .HiPerks-wrapper4, .HiPerks-wrapper5{
        max-width: 100%;
        margin-left: 0%;
    }
    .body-container{
        margin-bottom: 150%
    }
    .label-description {
        padding: 1vh;
        font-size: 14px;
        background-color: #E7E7E7;
        margin-top: 8vh;
    }
    .username-field{
        width: 90%;
    }
  
}

  
